name: Publish Proto Contracts

on:
    push:
        branches:
            - main

jobs:
    build:
      runs-on: ubuntu-latest

      steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: 3.12

          - name: Install Poetry
            uses: snok/install-poetry@v1

          - name: Install dependencies
            run: |
              poetry install 

          - name: Generate protobuf
            run: |
              poetry run python -m grpc_tools.protoc \
              -I proto \
              --python_out=kirt08_contracts \
              --grpc_python_out=kirt08_contracts \
              proto/*.proto

          - name: Build
            run: |
              poetry build

          - name: Check dist contents
            run: |
              ls
              cd dist
              ls

          - name: Upload dist 
            uses: actions/upload-artifact@v4 
            with: 
              name: dist
              path: dist/
    
    publish:
      runs-on: ubuntu-latest
      needs: [build]

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Install Poetry
          uses: snok/install-poetry@v1

        - name: Check dist contents 1
          run: |
            ls

        - name: Download dist 
          uses: actions/download-artifact@v4 
          with: 
            name: dist
            path: dist

        - name: Check dist contents 2
          run: |
            ls
            cd dist
            ls

        - name: Configure TestPyPI
          run: |
            poetry config repositories.testpypi https://test.pypi.org/legacy/
            poetry config http-basic.testpypi __token__ ${{ secrets.TEST_PYPI_API_TOKEN }}

        - name: Publish to TestPyPI
          run: poetry publish -r testpypi
